[Unit]
Description=AI Backend Flask Service
After=network.target

[Service]
User={{ backend_service_user }}
WorkingDirectory=/var/www/ai_project
Environment="NLTK_DATA=/usr/local/share/nltk_data"
ExecStart=/usr/bin/python3 /var/www/ai_project/app.py
Restart=always

[Install]
WantedBy=multi-user.target

