# Terraform cache and state
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible cache
*.retry
__pycache__/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
crash.log

# Vim / temp
*.swp
*.swo
*.log
.DS_Store
