*.retry
*.pyc
__pycache__/
*.swp
*.swo
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
inventory/hosts
roles/backend/files/__pycache__/


# Terraform
**/.terraform/*
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
