[Unit]
Description=Promtail
After=network-online.target

[Container]
Image=docker.io/grafana/promtail:latest
Network=host
Volume=/opt/observability/promtail/promtail-config.yml:/etc/promtail/config.yml:ro
Volume=/var/log:/var/log:ro
Volume=/run/log/journal:/run/log/journal:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Exec=-config.file=/etc/promtail/config.yml

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
